.conversation, .shows {
    &__button {
        @include mob__h4-paragraph;
        font-family: "AvenirNextDemiBold";

        height: 48px;
        border-radius: 4px;
        background-color: $black;
        border: none;
        color: $white;

        &:hover{
            border: 2px solid $black;
            background-color: #000000;
            outline: none;
        }

        &:focus {
            border: 2px solid $black;
            outline: none;
        }

        &:active {
            border: 2px solid $black;
            outline: none;
        }
    }
}