@font-face {
  src: url("../../assets/fonts/AvenirNextRegular.otf");
  font-family: "AvenirNextRegular";
}

@font-face {
  src: url("../../assets/fonts/AvenirNextDemi.otf");
  font-family: "AvenirNextDemiBold";
}

@font-face {
  src: url("../../assets/fonts/AvenirNextBold.otf");
  font-family: "AvenirNextBold";
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  height: 80px;
  background-color: #323232;
}

.header__logo {
  display: block;
  height: 50%;
  padding: 8px 0;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 50%;
  width: 100vw;
}

.header__list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 50vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-size: 14px;
  line-height: 22px;
  color: #afafaf;
  border-bottom: 5px solid #323232;
}

.header__list-item-text {
  font-size: 14px;
  line-height: 22px;
  font-weight: normal;
  font-family: "AvenirNextRegular";
  font-weight: bold;
}

.header__list-item--active {
  color: #ffffff;
  border-bottom: 5px solid #ffffff;
}

.hero {
  position: relative;
  height: 183px;
}

.hero__image {
  position: absolute;
  width: 100vw;
  height: 183px;
  z-index: 0;
}

.hero__overlay {
  position: absolute;
  width: 100vw;
  height: 183px;
  background-color: rgba(23, 23, 23, 0.5);
  z-index: 1;
}

.hero__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 20%;
  margin-left: 16px;
  z-index: 2;
}

.hero__header {
  font-family: "AvenirNextBold";
  font-size: 24px;
  line-height: 32px;
  color: #ffffff;
}

.biography {
  margin: 32px 5vw;
}

.biography__header {
  font-family: "AvenirNextBold";
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 16px;
}

.biography__image {
  width: 90vw;
}

.biography__quote {
  font-family: "AvenirNextDemiBold";
  font-size: 16px;
  line-height: 24px;
}

.biography__quote--source {
  font-family: "AvenirNextDemiBold";
  font-size: 0.9rem;
  line-height: 0.9rem;
  margin-bottom: 20px;
}

.biography__names {
  margin-top: 40px;
  font-family: "AvenirNextDemiBold";
  font-size: 16px;
  line-height: 16px;
}

.biography__text-container {
  margin-top: 24px;
  margin-bottom: 40px;
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.biography__text {
  margin-top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "AvenirNextRegular";
  font-size: 0.76rem;
  line-height: 1.14rem;
}

@media only screen and (min-width: 768px) {
  .biography {
    margin-left: 180px;
  }
  .biography__header, .biography__quote {
    font-family: "AvenirNextBold";
    font-size: 36px;
    line-height: 44px;
  }
  .biography__quote {
    font-size: 24px;
    line-height: 32px;
  }
  .biography__quote--source {
    font-family: "AvenirNextDemiBold";
    font-size: 16px;
    line-height: 24px;
  }
  .biography__content {
    margin-left: 92px;
  }
  .biography__image {
    width: 896px;
    height: 450px;
  }
  .biography__text-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .biography__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 420px;
    font-family: "AvenirNextRegular";
    font-size: 14px;
    line-height: 22px;
  }
}

.gallery {
  padding: 32px 5vw;
  background-color: #fafafa;
}

.gallery__header {
  font-family: "AvenirNextBold";
  font-size: 24px;
  line-height: 32px;
}

.gallery__image {
  margin-top: 8px;
  margin-bottom: 8px;
  width: 90vw;
}

.footer {
  padding: 48px 5vw;
  background-color: #323232;
  color: #ffffff;
  font-family: "AvenirNextRegular";
  font-weight: 100;
  font-size: 0.76rem;
  line-height: 1.14rem;
}

.footer__first-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__title {
  font-family: "AvenirNextBold";
  font-size: 36px;
  line-height: 44px;
}

.footer__icon {
  margin-right: 32px;
}

.footer__second-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
}

.footer__address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

html, body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #323232;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}
/*# sourceMappingURL=main.css.map */